// 
// Buttons
// 

//- Custom XL button styling

.btn-xl {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 10000;
    background-color: $primary;
    border-color: $white;
    border-radius: 0.7rem;
    border-width: medium;
    color: $white;

    &:focus {
        outline: none;
        box-shadow: none;
      }
      
      
}

