// 
// Masthead
// 


header.masthead {
	padding-top: 10rem;
	padding-bottom: calc(10rem - #{$navbar-height});

	// replace the masthead.jpg image in the /assets/img directory to change the image
	// if the image name change, make sure to update the url path below!

	background: linear-gradient(to bottom,
			#{fade-out($brown, 0.2)} 0%,
			#{fade-out($brown, 0.2)} 100%),
			url(../img/bg-masthead.jpg);

	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;

	h1 {
			font-size: 2.25rem;
	
	}

	p {
		font-size: 1.25rem;

}

	@include media-breakpoint-up(lg) {
			height: 100vh;
			min-height: 40rem;
			padding-top: $navbar-height;
			padding-bottom: 0;

			p {
					font-size: 1.15rem;
			}

			h1 {
					font-size: 3rem;
			}
	}

	@include media-breakpoint-up(xl) {
			h1 {
					font-size: 3.5rem;
			}
			p {
				font-size: 1.15rem;
		}
	}
}


// 
// Mainhead
// 


header.homehead {





	// padding-top: 10rem;
	// padding-bottom: calc(10rem - #{$navbar-height});
	padding-top: 10rem;
	padding-bottom: calc(10rem - #{$navbar-height});

	.container {
		z-index: 2;
		position: relative;
	}


	.videowrapper {
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		width: 100%;
		height: 100%;
	}

	video {
		display: none;

	}
	.overlay {
		display: none;
	
	}

	background: linear-gradient(to bottom,
	#{fade-out($brown, 0.2)} 0%,
	#{fade-out($brown, 0.2)} 100%),
	url(../img/bg-masthead.jpg);

	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;


	h1 {
		font-size: 2.25rem;
	}

	p {
		font-size: 1.3rem;
	}


	@include media-breakpoint-up(lg) {
		height: 100vh;
		min-height: 40rem;
		padding-top: $navbar-height;
		padding-bottom: 0;
		p {
				font-size: 1.3rem;
		}
		h1 {
				font-size: 3rem;
		}

		video {
			display: flex;
			position: absolute;
			top: 50%;
			left: 50%;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
			z-index: 0;
			-ms-transform: translateX(-50%) translateY(-50%);
			-moz-transform: translateX(-50%) translateY(-50%);
			-webkit-transform: translateX(-50%) translateY(-50%);
			transform: translateX(-50%) translateY(-50%);
		}
		
		.overlay {
			display: flex;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: black;
			opacity: 0.5;
			z-index: 1;
		}



		background: none;	
	}
}

