// 
// Variables
// 


// 
// Colors
// 

//- Override and add to color system
$orange: #ee8803;
$brown: #42425c;

//- Override primary color
$primary: $orange;

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio: 3;


// 
// Spacing
// 
$fontsize-navbar-brand: 1.5rem;
$fontsize-navbar-nav: 1.2rem;
$navbar-padding-y: 0.75rem;

$navbar-height: calc($fontsize-navbar-brand + 2 * $navbar-padding-y);


// 
// Typography
// 


@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Lato&display=swap');


 
// @import url("https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic");
//@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');

$font-family-sans-serif: "Lato", sans-serif;
//$font-family-serif: 'Trocchi', serif;
// $font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
//     "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
//     "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// $font-family-serif: "Merriweather", -apple-system, BlinkMacSystemFont,
//     "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
//     "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-family-base: $font-family-sans-serif;

$headings-font-family: $font-family-sans-serif;

$btn-font-family: $font-family-sans-serif;


