<template>
    <div id="vue-main-app">
        <!-- <img src="./assets/img/2.jpg"/> -->
        <div class="container" v-if="this.$store.state.main.isAuthenticated">
            REST API: EINGELOGGED!
        </div>
        <div class="container" v-else>
            REST API: AUSGELOGGED!
        </div>
        <div class="container">
            <form v-on:submit.prevent="submitsignupForm">
                <input type='email' name='username' v-model="signupform.username">
                <input type='password' name='password' v-model='signupform.password'>
                <button type="submit">SignUp</button>
            </form>
        </div>
        <div class="container">
            <form v-on:submit.prevent="submitloginForm">
                <input type='text' name='username' v-model="loginform.username">
                <input type='password' name='password' v-model='loginform.password'>
                <button type="submit">Login</button>
            </form>
        </div>
        <div class="container">
                <button @click="logout()">Logout</button>
        </div>
        <div class="container">
                <button @click="getuserdata()">Get User Data</button>
                Username: {% raw %}{{ username }}{% endraw %}

        </div>

    </div>




</template>

<script>
import api from "../rest/rest";
import * as bootstrap from 'bootstrap';
import SimpleLightbox from "simplelightbox";
//import HelloWorld from "./components/HelloWorld.vue";
import {MUTATION_SET_TOKEN} from "./store/store_{{cookiecutter.project_slug}}";

export default {
    name: "mainApp",
    components: { },

    data () {
        return {
            signupform: {
                username: '',
                password: '',
            },
            loginform: {
                username: '',
                password: '',
            },
            username: '',
        }
    },

    methods: {
        submitsignupForm() {
            const formdata = {
                username: this.signupform.username,
                password: this.signupform.password,
                email: this.signupform.username
            }

            api.createUser(formdata)
             .then(function (response) {
                 return console.log(response);
             }
             )
             .catch(error => {
                 console.log(error)
             })
        },
        submitloginForm() {
            const formdata = {
                username: this.loginform.username,
                password: this.loginform.password,
            }

            api.login(formdata)
                .then(response => {
                    const token = response.data.auth_token
                    api.setAuthHeader(token)
                    this.$store.commit(MUTATION_SET_TOKEN, token)

                    //this.$store.commit('setToken', token)
                    //localStorage.setItem('token', token)
                })
            
    
        },
        logout() {
            api.logout() 
            api.unsetAuthHeader()
            this.$store.commit('unsetToken')
            //localStorage.setItem('isAuthenticated', false)
        },
        
        getuserdata() {
            console.log('Token: ' + this.$store.state.token)
            api.getUserData() 
                .then(response => {
                    this.username = response.data.username
                })

        },


        
    },
    beforeCreate() {
        //this.$store.commit('initializeStore')
        const token = this.$store.state.main.token
        console.log("Token: " + token)
        if (token) {
            api.setAuthHeader(token)
            
        } else {
            api.unsetAuthHeader()
        }

    },
    mounted() {
    document.addEventListener('DOMContentLoaded', function () {
        
        // Activate Bootstrap scrollspy on the main nav element
        const mainNav = document.body.querySelector('#mainNav');
        if (mainNav) {
            new bootstrap.ScrollSpy(document.body, {
                target: '#mainNav',
                offset: 74,
            });
        }

        // ---------------------------------------------

        // Activate SimpleLightbox plugin for portfolio items
        new SimpleLightbox('#portfolio a.portfolio-box');

        })

        // -----------------------------------------

        // Navbar shrink function
        var navbarShrink = function () {
            const navbarCollapsible = document.body.querySelector('#mainNav');
            if (!navbarCollapsible) {
                return;
            }
            if (window.scrollY === 0) {
                navbarCollapsible.classList.remove('navbar-shrink')
            } else {
                navbarCollapsible.classList.add('navbar-shrink')
            }

        };

        // Shrink the navbar 
        navbarShrink();

        // Shrink the navbar when page is scrolled
        document.addEventListener('scroll', navbarShrink);


        // Collapse responsive navbar when toggler is visible
        const navbarToggler = document.body.querySelector('.navbar-toggler');
        const responsiveNavItems = [].slice.call(
            document.querySelectorAll('#navbarResponsive .nav-link')
        );
        responsiveNavItems.map(function (responsiveNavItem) {
            responsiveNavItem.addEventListener('click', () => {
                if (window.getComputedStyle(navbarToggler).display !== 'none') {
                    navbarToggler.click();
                }
            });
        });

        // --------------------------------------------


        // START Back to top button
        
        //Get the button
        let mybutton = document.getElementById("btn-back-to-top");

        // Define ScrollFunctions
        const scrollFunction = function () {
        if (
            document.body.scrollTop > 60 ||
            document.documentElement.scrollTop > 60
        ) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
        };
        const backToTop = function () {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        };

        // When the user scrolls down 60px from the top of the document, show the button
        window.onscroll = function () {
        scrollFunction();
        };
        // When the user clicks on the button, scroll to the top of the document
        mybutton.addEventListener("click", backToTop);


        // END Back to top button
        // --------------------------

    }
}
</script>

<style lang="scss">
@import "assets/scss/main.scss";
</style>

