{% raw %}{% load static i18n %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endraw %}{{cookiecutter.project_slug}}{% raw %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Videoconferencing for Pros">
    <meta name="author" content="{% endraw %}{{cookiecutter.author_name}}{% raw %}">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% comment %} <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}"> {% endcomment %}
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
    <!-- This file stores django-based global CSS -->
    <!-- Note: this is loaded before vue injection -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">

    <!-- Here goes page-specific django based CSS -->
    {% block css %}
    {% endblock css %}

  </head>
  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 navbar-shrink navbar-custom" id="mainNav">
              <div class="container px-4 px-lg-5">
                  <a class="navbar-brand" href="#page-top">Start Bootstrap</a>
                  <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                  <div class="collapse navbar-collapse" id="navbarResponsive">
                      <ul class="navbar-nav ms-auto my-2 my-lg-0">
                          <li class="nav-item active"><a class="nav-link" href="#home">Home</a></li>
                          <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                          <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                          <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                      </ul>
                  </div>
              </div>
    </nav>

    <button
        type="button"
        class="btn btn-floating btn-lg"
        id="btn-back-to-top"
        >
    <i class="fas fa-arrow-up"></i>
    </button>


    <!-- Start actual content -->
    {% block content %}
    {% endblock content %}
    
    <!-- main vue injection into tag 'vue-main' goes here -->
    {% block vue_main %}
    <div id="vue-main-app"></div>
    {% render_bundle 'main' %}
    {% endblock vue_main %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
    {% endblock javascript %}
     <!-- Your stuff: Third-party javascript libraries go here -->
     <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
     <!-- place project specific Javascript in this file -->
     <script src="{% static 'js/project.js' %}"></script>

  </body>
</html>{% endraw %}
 
