{% raw %}{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load static i18n %}

<!-- templates/home.html -->

{% block content %}
<div id="home"></div>
<!-- Masthead-->
{% comment %} <header class="masthead">
		<div class="container px-4 px-lg-5 h-100">
				<div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
						<div class="col-lg-8 align-self-end">
								<h1 class="text-white font-weight-bold">Videoconferencing for Pros</h1>
								<hr class="divider" />
						</div>
						<div class="col-lg-8 align-self-baseline">
						le_auth_oauthlib.flow import InstalledAppFlow
from google.auth.transport.requests import Request

# If modifying these scopes, delete the file token.pickle.
SCOPES = ['https://www.googleapis.com/auth/calendar']

CREDENTIALS_FILE = 'path_to_file/credentials.json'
			<p class="text-white mb-5">Nie wieder scheiße in der Business Videoconference aussehen!</p>
								<a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
						</div>
				</div>
		</div>
</header> {% endcomment %}

<!-- Homehead-->
<header class="homehead" >

		<div class="videowrapper">
			<!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
			<div id='homehead-videooverlay' class="overlay"></div>

			<!-- The HTML5 video element that will create the background video on the header -->
			<video id='homehead-video' playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
			<source src="{% static 'img/background.mp4' %}" type="video/mp4">
			</video>
		</div>

{% comment %} 
		<div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Video Header</h1>
        <p class="lead mb-0">Using HTML5 Video and Bootstrap</p>
      </div>
    </div>
  </div> {% endcomment %}

		<div class="container container-homehead px-4 px-lg-5 h-100">
				<div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
						<div class="col-lg-8 align-self-end">
								<h1 class="text-white font-weight-bold">Videoconferencing for Pros</h1>
								<hr class="divider" />
						</div>
						<div class="col-lg-8 align-self-baseline">
								<p class="text-white mb-5">Nie wieder scheiße in der Business Videoconference aussehen!</p>
								<a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
						</div>
				</div>
		</div>


</header>


<!-- About-->
<section class="page-section bg-primary" id="about">
		<div class="container px-4 px-lg-5">
				<div class="row gx-4 gx-lg-5 justify-content-center">
						<div class="col-lg-8 text-center">
								<h1 class="text-white mt-0">We've got what you need!</h2>
								<h2 class="text-white mt-0">We've got what you need!</h2>
								<hr class="divider divider-light" />
								<p class="text-white-75 mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! Choose one of our open source, free to download, and easy to use themes! No strings attached!</p>
								<a class="btn btn-light btn-xl" href="#services">Get Started!</a>
						</div>
				</div>
		</div>
</section>
<!-- Services-->
<section class="page-section" id="services">
		<div class="container px-4 px-lg-5">
				<h2 class="text-center mt-0">At Your Service</h2>
				<hr class="divider" />
				<div class="row gx-4 gx-lg-5">
						<div class="col-lg-3 col-md-6 text-center">
								<div class="mt-5">
										<div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
										<h3 class="h4 mb-2">Sturdy Themes</h3>
										<p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
								</div>
						</div>
						<div class="col-lg-3 col-md-6 text-center">
								<div class="mt-5">
										<div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
										<h3 class="h4 mb-2">Up to Date</h3>
										<p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
								</div>
						</div>
						<div class="col-lg-3 col-md-6 text-center">
								<div class="mt-5">
										<div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
										<h3 class="h4 mb-2">Ready to Publish</h3>
										<p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
								</div>
						</div>
						<div class="col-lg-3 col-md-6 text-center">
								<div class="mt-5">
										<div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
										<h3 class="h4 mb-2">Made with Love</h3>
										<p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
								</div>
						</div>
				</div>
		</div>
</section>
<!-- Portfolio-->
<div id="portfolio">
		<div class="container-fluid p-0">
				<div class="row g-0">
						<div class="col-lg-4 col-sm-6">
								<a class="portfolio-box" href="{% static 'img/portfolio/fullsize/1.jpg' %}" title="Project Name">
										<img class="img-fluid" src="{% static 'img/portfolio/thumbnails/1.jpg' %}" alt="..." />
										<div class="portfolio-box-caption">
												<div class="project-category text-white-50">Category</div>
												<div class="project-name">Project Name</div>
										</div>
								</a>
						</div>
						<div class="col-lg-4 col-sm-6">
								<a class="portfolio-box" href="{% static 'img/portfolio/fullsize/2.jpg' %}" title="Project Name">
										<img class="img-fluid" src="{% static 'img/portfolio/thumbnails/2.jpg' %}" alt="..." />
										<div class="portfolio-box-caption">
												<div class="project-category text-white-50">Category</div>
												<div class="project-name">Project Name</div>
										</div>
								</a>
						</div>
						<div class="col-lg-4 col-sm-6">
								<a class="portfolio-box" href="{% static 'img/portfolio/fullsize/3.jpg' %}" title="Project Name">
										<img class="img-fluid" src="{% static 'img/portfolio/thumbnails/3.jpg' %}" alt="..." />
										<div class="portfolio-box-caption">
												<div class="project-category text-white-50">Category</div>
												<div class="project-name">Project Name</div>
										</div>
								</a>
						</div>
						<div class="col-lg-4 col-sm-6">
								<a class="portfolio-box" href="{% static 'img/portfolio/fullsize/4.jpg' %}" title="Project Name">
										<img class="img-fluid" src="{% static 'img/portfolio/thumbnails/4.jpg' %}" alt="..." />
										<div class="portfolio-box-caption">
												<div class="project-category text-white-50">Category</div>
												<div class="project-name">Project Name</div>
										</div>
								</a>
						</div>
						<div class="col-lg-4 col-sm-6">
								<a class="portfolio-box" href="{% static 'img/portfolio/fullsize/5.jpg' %}" title="Project Name">
										<img class="img-fluid" src="{% static 'img/portfolio/thumbnails/5.jpg' %}" alt="..." />
										<div class="portfolio-box-caption">
												<div class="project-category text-white-50">Category</div>
												<div class="project-name">Project Name</div>
										</div>
								</a>
						</div>
						<div class="col-lg-4 col-sm-6">
								<a class="portfolio-box" href="{% static 'img/portfolio/fullsize/6.jpg' %}" title="Project Name">
										<img class="img-fluid" src="{% static 'img/portfolio/thumbnails/6.jpg' %}" alt="..." />
										<div class="portfolio-box-caption p-3">
												<div class="project-category text-white-50">Category</div>
												<div class="project-name">Project Name</div>
										</div>
								</a>
						</div>
				</div>
		</div>
</div>
<!-- Call to action-->

<section class="page-section bg-dark text-white" id="contact">
	<div class="container px-4 px-lg-5 text-center">
			<h2 class="mb-4">Free Download at Start Bootstrap!</h2>
			<a class="btn btn-light btn-xl" href="https://startbootstrap.com/theme/creative/">Download Now!</a>
	</div>
</section>

<!-- Footer-->
<footer class="bg-light py-5">
		<div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2021 - Company Name</div></div>
</footer>

{% endblock content %}


{% comment %} {% if user.is_authenticated %}
  Hi {{ user.email }}!
  <p><a href="{% url 'account_logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'account_login' %}">Log In</a> |
  <a href="{% url 'account_signup' %}">Sign Up</a>
{% endif %} {% endcomment %}

{% endraw %}










