{% raw %}{% extends "base.html" %}

{% block content %}
  <h1>TestModel List</h1>
  {% if testmodel_list %}
  <ul>
    {% for instance in testmodel_list %}
      <li>
        <a href="{{ instance.get_absolute_url }}">{{ instance.name }}</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no entries.</p>
  {% endif %}
{% endblock %}{% endraw %}