{% raw %}{% extends "base.html" %}

{% block content %}
  <h1>TestModel Detail</h1>
  {% if object %}
    <h2>{{ object.name }}</h1>
    <p>Id: {{ object.id }}</p>
  {% else %}
    <p>Object does not exist.</p>
  {% endif %}
{% endblock %}{% endraw %}